<% if current_user.admin_level == "superadmin" %>
  <span class="text-red-500 font-semibold px-2 superadmin-tool">Superadmin</span>
<% elsif current_user.admin_level == "admin" %>
  <span class="text-yellow-500 font-semibold px-2 admin-tool">Admin</span>
<% elsif current_user.admin_level == "viewer" %>
  <span class="text-blue-500 font-semibold px-2 viewer-tool">Viewer</span>
<% else %>
<%end%>