<div class="scrapyard-notice">
  <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/936b246fe5593e09ceed33d04132212223241e71_hourglass.png">
  <h2>At a Scrapyard?</h2>
  <p>Everyone who codes >15 min during Scrapyard gets a special sticker! Check Zach's announcement email.</p>
</div>
