<div style="background-color: var(--uchu-light-green); border-radius: 5px; color: var(--uchu-yellow) !important;">
  <h2>At a Scrapyard event?</h2>
  <p>Everyone who codes with Hackatime during Scrapyard will get a special sticker!</p>
</div>
