<div style="background-color: var(--uchu-light-green); border-radius: 5px; color: var(--uchu-yellow) !important; position: relative; padding: 1rem; margin-top: 3rem; max-width: 26em;">
  <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/936b246fe5593e09ceed33d04132212223241e71_hourglass.png" style="position: absolute; max-width: 100px; max-height: 100px; top: -50px; right: 20px;">
  <h2>At a Scrapyard event?</h2>
  <p>Everyone who codes >15 min during Scrapyard gets a special sticker!</p>
</div>
