<div class="scrapyard-notice">
  <img src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/936b246fe5593e09ceed33d04132212223241e71_hourglass.png">
  <h2>Went to Scrapyard?</h2>
  <p>The event is over, but you can still see the <%= link_to "leaderboards", scrapyard_leaderboards_path %>!</p>
</div>
