<div class="container">
  <h1>Welcome to Harbor</h1>
  <% if current_user %>
    You've logged
    <%= short_time_detailed current_user.heartbeats.today.duration_seconds %> today across
    <%= pluralize(current_user.heartbeats.today.count, 'heartbeat') %>

    <%= turbo_frame_tag "project_durations", src: project_durations_static_pages_path do %>
      <div class="loading">
        Loading project durations...
      </div>
    <% end %>
  <% end %>
</div> 