<div class="container">
  <h1>Welcome to Harbor</h1>
  <p>Your application is ready!</p>
  <% if current_user %>
    You've logged 
    <%= current_user.heartbeats.today.duration_formatted %> today across
    <%= pluralize(current_user.heartbeats.today.count, 'heartbeat') %>

    <ul>
      <% @project_durations.each do |project| %>
        <li>
          <strong><%= project[:project] || "Unknown" %></strong>
          <%= project[:duration] %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div> 