<% if @user.api_keys.any? %>
  <pre>
# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://<%= request.host_with_port %>/api/hackatime/v1
api_key = <%= @user.api_keys.last.token %>
heartbeat_rate_limit_seconds = 30

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file
  </pre>
<% else %>
  <p>
    No API keys found. Please migrate your keys from waka.hackclub.com below. New API key generation has yet to be implemented.
  </p>
<% end %>
