<h1>Wakatime Setup</h1>
<p>Step 3 of 4</p>

<h2>Install!</h2>

<section>
  <h2>Other</h2>
  <p>
    <em>Hackatime is WakaTime-compatible, so you can use it with any editor that WakaTime supports. For other editors, please refer to the <a href="https://wakatime.com/docs/editors">WakaTime docs</a>.</em>

    <strong>⚠️ Note: skip any steps that update your ~/.wakatime.cfg file or change the api_url inside it.</strong>
  </p>
</section>
  
<section id="kicad">
  <h2>Kicad</h2>
  <p>
    <em>Hackatime is WakaTime-compatible, so you can use it with any editor that WakaTime supports. For Kicad, 
      we recommend this <a href="https://github.com/hackclub/kicad-wakatime?tab=readme-ov-file#installation">Kicad plugin built by hack clubbers</a>.</em>
    </a>.</em>
</section>

<section id="vs-code">
  <h2>VS Code</h2>
  <p>
    <em>Hackatime is WakaTime-compatible, so you can use it with any editor that WakaTime supports. For VS Code, install the <a href="https://marketplace.visualstudio.com/items?itemName=WakaTime.vscode-wakatime">WakaTime extension</a>.</em>
  </p>
</section>

<script>
  function autoScroll() {
    const editor = window.location.hash.replace("#", "");
    if (!editor) { return }
    const section = document.getElementById(editor);
    if (!section) { return }
    section.scrollIntoView({ behavior: "smooth" });
    section.classList.add('auto-scroll')
  }
  autoScroll();
</script>
