/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@import "https://uchu.style/color.css";

/* colors */

:root {
  --muted-color: var(--uchu-gray);
  --black: rgb(42, 42, 42);
  --smoke: rgb(242, 242, 242);
  color: var(--black);
  background-color: var(--smoke);
}

:root.development {
  --primary-color: var(--uchu-green);
}
:root.production {
  --primary-color: var(--uchu-dark-orange);
}

.title {
  color: var(--primary-color);
}

.admin-tool {
  border-radius: 5px;
  border: 1px dashed var(--uchu-orange);
  background-color: var(--uchu-light-yellow);
}

.loading {
  padding: 1rem;
  color: #666;
  font-style: italic;
}

.project-durations {
  margin-top: 1rem;
}
