@font-face {
  font-family: "Phantom Sans";
  src: url("/fonts/Regular.woff2") format("woff2"), url("/fonts/Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Phantom Sans";
  src: url("/fonts/Italic.woff2") format("woff2"), url("/fonts/Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Phantom Sans";
  src: url("/fonts/Bold.woff2") format("woff2"), url("/fonts/Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import "https://uchu.style/color.css";
@import "settings.css";

body,
html {
  font-family: "Phantom Sans", "Segoe UI", sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
}

code,
pre,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
}

/* Ensure forms and inputs respect dark mode */
input,
textarea,
select {
  color-scheme: dark;
}

.superadmin-tool {
  border-radius: 5px;
  border: 1px dashed rgb(251, 44, 54);
  background-color: rgba(255, 255, 255, 0.02);
}
.admin-tool {
  border-radius: 5px;
  border: 1px dashed rgb(240, 177, 0);
  background-color: rgba(255, 255, 255, 0.02);
}
.viewer-tool {
  border-radius: 5px;
  border: 1px dashed rgb(43, 127, 255);
  background-color: rgba(255, 255, 255, 0.02);
}
.dev-tool {
  border-radius: 5px;
  border: 1px dashed var(--color-green);
  background-color: rgba(255, 255, 255, 0.02);
}

.loading {
  filter: grayscale(100%);
}

.super {
  font-style: italic;
  font-size: 0.9rem;
  color: #ccc;
  margin: 0 0 0.1rem;
}

.super a {
  color: #ccc;
}

.auto-scroll {
  animation: flash 1s ease-in-out;
  border: 2px solid var(--uchu-yellow);
  border-radius: 5px;
}

select {
  margin: 0.1rem 0;
  padding: 0.1rem 0.5rem;
}

@keyframes flash {
  0% {
    background-color: var(--uchu-yellow);
  }
  100% {
    background-color: transparent;
  }
}
